*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    background-image: url(../Images/5.jpg);
    
    
}
nav{
    background-color: rgba(255,255,255,.5); 
    min-height: 70px;
    
}
ul{
    float: right;
    margin-top: 55px;
    margin-right: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    background-color: transparent;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease;
    font-weight: 900;
    
}

ul li a:hover{
    background-color: #000000;
    color: #fff;
}

ul li.active a{
    background-color: #000000;
    color: #fff;
}

img{
    width: 150px;
    margin-left: 20px;
    margin-top: -10px;
}

.title{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: rgba(255,255,255,.9);
    font-size: 30px;
    
}

.button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    background-color: rgba(255,255,255,.5);
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease;
    border-radius: 20px;
    font-weight: 900;
}

.btn:hover{
    background-color: #fff;
    color: #000000;
}

.bg-text{
    background-color: rgba(255,255,255,.6);
    color: #000000;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px
    

}
footer{
    color: #17D4FE;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    letter-spacing: 7px;
    font-family: 7px;
    
}

