*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    background-color: #fff;
    

}
nav{
    background:#04D4F0;
    
    
}
ul{
    float: right;
    margin-top: 30px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease;
    
}

ul li a:hover{
    background-color: #fff;
    color: #000000;
}

ul li.active a{
    background-color: #fff;
    color: #000000;
}

img{
    width: 150px;
    margin-left: 20px;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #000000;
    font-size: 30px;
    
}

.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000000;
}

footer{
    color: #17D4FE;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    letter-spacing: 7px;
    font-family: 7px;
    
}

